$primary-color: #F50057;
$secondary-color: #FF4081;
$dark-text-color: #000000;
$light-text-color: #FFFFFF;

body {

	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

	.demo-layout-transparent .mdl-layout__header,
	.demo-layout-transparent .mdl-layout__drawer-button {
	  /* This background is dark, so we set text to white. Use 87% black instead if
	     your background is light. */
	  color: white;
	}

	.vert-cent {
		
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10%;

	}

	.card-width.mdl-card {
  
	  width: 40%;

		.authForm {

			text-align: center;

		}

	}

	.link {

		line-height: 1.5em;

	}

	.card-width > .mdl-card__title {

		height: 7em;
		color: white;
		font-weight: bold;
		background: repeating-linear-gradient(
		  45deg,
		  $primary-color,
		  $primary-color 10px,
		  $secondary-color 10px,
		  $secondary-color 20px
		);

	}

	.top-container {

		font-size: 2em;
	    background-color: #F5F5F5;
	    min-width: 100%;
	    max-width: 100%;
	    text-align: left;
	    padding: 1em;
	    margin-bottom: 2em;
	    border-bottom: 1px solid #E0E0E0;
	    min-height: 5em;

	}

	.tag-wrapper {

		margin-top: 1em;
		margin-bottom: 2em;

			.tag-style {

			font-size: 0.55em;

		}

	}

}