$primary-color: #F50057;
$secondary-color: #FF4081;
$dark-text-color: #000000;
$light-text-color: #FFFFFF;
$good-text-color: #1B5E20;
$bad-text-color: #D50000;

body {

	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 


	.demo-layout-transparent .mdl-layout__header,
	.demo-layout-transparent .mdl-layout__drawer-button {
	  /* This background is dark, so we set text to white. Use 87% black instead if
	     your background is light. */
	  color: white;

	}

	.top-pad-sm {

		padding-top: 3em;

	}

	.long-input {

		min-width: 43em;

	}

	.center {

		text-align: center;

	}

	.center-container {

		margin-left: auto;
		margin-right: auto;
		width: 60%;

	}

	.left-container {

		text-align: left;
		padding-left: 3em;

	}

	.vert-cent {
		
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		margin-bottom: 3%;
		width: 60%;

	}

	
	.card-width.mdl-card {

		.authForm {

			text-align: center;
			width: 100%;

		}

		.address-field {

			margin-left: 1em;
			margin-right: 1em;
			width: 13em;

		}

		.val-check-bad {

			color: $bad-text-color;

		}

		.small-text {

			font-size: 0.7em;

		}

		.val-check-good {

			color: $good-text-color;

		}

	}

	.guest-button {

		margin-bottom: 1em;

	}

	.location-button {

		margin-bottom: 4.1em;

	}

	.link {

		line-height: 1.5em;

	}

	.card-width > .mdl-card__title {

		height: 7em;
		color: white;
		font-weight: bold;
		background: repeating-linear-gradient(
		  45deg,
		  $primary-color,
		  $primary-color 10px,
		  $secondary-color 10px,
		  $secondary-color 20px
		);

	}

	.tag-wrapper {
		
		margin-top: 1em;
		margin-bottom: 2em;

			.tag-style {

			font-size: 0.55em;

		}

	}

	.card-trash {

		color: $light-text-color;
		position: absolute;
		right: 1em;

	}

	.spinner {
		
		position: relative;
		text-align: center;
		margin-top: 15%;

	}

	.loading {
		
		color: $light-text-color;

	}

	.mdl-card__supporting-text p.event-content {

		font-size: 1.6em;

	}

	.address-container {
		
		text-align: left;
		margin-left: 15%;

	}

	@media screen and (min-width: 767px) and (max-width: 1000px) {

		.center-container {

			margin-left: auto;
			margin-right: auto;
			width: 95%;

		}

		.left-container {

			text-align: left;
			padding-left: 0.5em;

		}

		.link {
			
			line-height: 2.25em;

		}

		.mdl-layout__content {

			padding-bottom: 5em;

		}

		.vert-cent {
		
			margin-left: auto;
			margin-right: auto;
			margin-top: 4%;
			margin-bottom: 4%;
			width: 95%;

		}

		.mdl-card__supporting-text p.event-content {}

		.address-container {
		
			text-align: left;
			margin-left: 20%;

		}

		.location-button {

			margin-bottom: 4.1em;

		}

	}	

	@media screen and (max-width: 767px) {

		.center-container {

			margin-left: auto;
			margin-right: auto;
			width: 95%;

		}

		.left-container {

			text-align: left;
			padding-left: 0.5em;

		}

		.link {
			
			line-height: 2.25em;

		}

		.mdl-layout__content {

			padding-bottom: 5em;

		}

		.vert-cent {
		
			margin-left: auto;
			margin-right: auto;
			margin-top: 4%;
			margin-bottom: 4%;
			width: 95%;

		}

		.mdl-card__supporting-text p.event-content {}

		.address-container {
		
			text-align: left;
			margin-left: 5%;

		}

		.location-button {

			margin-bottom: 1em;

		}

	}

}