<!-- Reset Password -->
<div id="reset-password-container" hidden="true" class="card-width mdl-card mdl-shadow--2dp center-container animated slideInDown">

	<div class="mdl-card__title">

		<h2 class="mdl-card__title-text">Reset Password</h2>

	</div>
	
	<div class="mdl-card__supporting-text">

		<form action="javascript:app.resetPassword.resetPassword()" class="authForm" autocomplete="on">

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

				<label class="mdl-textfield__label"
				for="reset-password-email" title="Email">
					
					<span>Email</span>

				</label>

				<input class="mdl-textfield__input" id="reset-password-email" type="email" name="email" title="Email" oninput="ResetPassword.validateResetPassword()" required>

			</div>

			<p>

				<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Reset Password" id="reset-password-button" title="Reset Password">

			</p>

		</form>

		<p>

			<div class="link">

				Don't have an account?  <a onclick="Displayer.showSignUp()" href="#"
				title="Sign Up">Sign Up</a>

			</div>

			<div class="link">

				Already have an account?  <a onclick="Displayer.showSignIn()" href="#" title="Sign In">Sign In</a>

			</div>

		</p>

	</div>

</div>