<section class="mdl-layout__tab-panel" id="show-events-tab">
	
	<div class="page-content">

		<div id="show-event-container" hidden="true">

			<!-- No events -->
			<div id="no-events-container" hidden="true" class="card-width mdl-card mdl-shadow--2dp center-container animated slideInDown">

				<div class="mdl-card__title">

					<h2 class="mdl-card__title-text">No events created</h2>

				</div>
				
				<div class="mdl-card__supporting-text">

					<p>

						Nothing to see here!  How about clicking the <strong>ADD EVENT</strong> tab and creating an event.

					</p>

				</div>

			</div>

			<!-- Events -->
			<p id="event-container">

			</p>

		</div>

	</div>

</section>	