<section class="mdl-layout__tab-panel is-active" id="user-info-tab">
	
	<div class="page-content">

		<!-- MDL Spinner Component -->
		<div id="user-info-spinner" class="spinner" hidden="true">

			<div class="mdl-spinner mdl-js-spinner is-active"></div>

		</div>

		<!-- User info form -->
		<div id="user-info-container" class="card-width mdl-card mdl-shadow--2dp center-container animated slideInDown" hidden="true">

			<div class="mdl-card__title">

				<h2 class="mdl-card__title-text">User Info</h2>

			</div>
			
			<!-- Card Content -->
			<div class="mdl-card__supporting-text">

				<form action="javascript:app.userInfo.saveInfo()" class="authForm" autocomplete="on">

					<p>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

							<label class="mdl-textfield__label" for="user-info-name" title="Name">

							</label>

							<input class="mdl-textfield__input" id="user-info-name" type="text" name="name" title="Name" oninput="UserInfo.checkFields()" placeholder="Whooo are you?  Who who" required>

						</div>

					</p>

					<p>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

							<label class="mdl-textfield__label" for="user-info-employer" title="Employer">

							</label>

							<input class="mdl-textfield__input" id="user-info-employer" type="text" title="Employer" name="organization" placeholder="Where do you work?">

						</div>

					</p>

					<p>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

							<label class="mdl-textfield__label" for="user-info-title" title="Title">

							</label>

							<input class="mdl-textfield__input" id="user-info-title" type="text" title="Title" name="organization-title" placeholder="What's your job title?">

						</div>

					</p>

					<p>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

							<label class="mdl-textfield__label" for="user-info-birthday" title="Birthday">

							</label>

							<input class="mdl-textfield__input" id="user-info-birthday" type="text" title="Birthday" name="bday" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="When's your birthday?">

						</div>

					</p>

					<p>

						<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="submit-user-info-button" type="submit" value="Update Info" title="Update Info">

					</p>

				</form>

			</div>

		</div>

	</div>

</section>